# Azure Tenant specific configuration settings
#   You should create an SPN in Azure first and authorize it to make changes to Azure DNS
#       REF: https://azure.microsoft.com/en-us/documentation/articles/resource-group-create-service-principal-portal/
TENANT="cloudlogibec.onmicrosoft.com"      # Your tenant name - the onmicrosoft.com value
SPN_USERNAME="http://DnsInfraDev"         # This is one of the SPN values (the identifier-uri or guid value)
SPN_PASSWORD="0PZCEWCtMc4dwH065Szx"                   # This is the password associated with the SPN account
RESOURCE_GROUP="dev-rg"      # This is the resource group containing your Azure DNS instance
SUBSCRIPTION="7b901a47-cca3-4824-84ac-bce78f1bffa4"      # Your Azure Subscription Name or GUID
DNS_ZONE="dev.logibec.cloud"                  # This is the DNS zone you want the SPN to manage (Contributor access)
TTL="30"                     # This is the TTL for the dnz record-set
